html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input {
  font-size: 16px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 4px;
}
input:focus {
  box-shadow: 0 2 #444;
}

button {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid orangered;
  background-color: pink;
  color: purple;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  background-color: palegoldenrod;
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 50px 100px 100px 100px;
}

input {
  margin-bottom: 16px;
}
label {
  margin-bottom: 8px;
}
.loginButton {
  width: 200px;
  font-size: 18px;
  align-self: center;
}
label {
  min-width: 176px;
}



table {
border-spacing: 0;
}
tr, td {
  margin: 0;
}
tr {
  background-color: #eee;
}
td, th {
  border-right: 1px solid rgb(145, 145, 145);
  padding: 1em;
}
td:last-child, th:last-child {
  border: none;
}

select {
  padding: 6px;
  border-radius: 4px;
  min-width:200px;
  height:30px;
}

/** start fancy classes*/
button.fancy-signupButton, button.fancy-loginButton {
  background-image: linear-gradient(to right bottom, #ffba6a, #ffb28d, #ffb1b4, #ffb7d7, #f9c3f1, #e5cafc, #d2d1ff, #c2d6ff, #b1d9ff, #9cdcff, #86dfff, #6fe2ff);
  color:#0f0f0e;
  border-color: transparent;
}

label.fancy-email, label.fancy-password{
  font-weight: bold;
  color:#0f0f0e;
}
input.fancy-email, input.fancy-password{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
}
