*.log
.DS_Store
node_modules
dist
docs
src/client
src/client2
spec/output.swagger.json
# sed things
*-e

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

.tsbuildinfo

yarn.lock