name: Publish @niledatabase packages

on:
  pull_request:
    types:
      - closed
    branches:
      - main
env:
  BRANCH_NAME: main

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ secrets.PAT }}

      - name: Enable Corepack before setting up Node
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install @niledatabase/server
        working-directory: packages/server
        run: yarn install --immutable

      - name: Install @niledatabase/react
        working-directory: packages/react
        run: yarn install --immutable

      - name: Install @niledatabase/client
        working-directory: packages/client
        run: yarn install --immutable

      - name: Install @niledatabase/nextjs
        working-directory: packages/nextjs
        run: yarn install --immutable

      - name: Build @niledatabase/packages
        run: yarn build

      - name: Version
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          npx lerna version --force-publish --conventional-prerelease --conventional-commits --yes
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Publish to npm
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: |
          npx lerna publish from-git --yes --dist-tag alpha
